 <!-- START: footer -->
  <footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
    {% comment %} Comment out the footer widget columns {% endcomment %}
    {% comment %}<div class="row">
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>About Format</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
          </div>
          <div class="probootstrap-footer-widget">
            <h3>Connect With Us</h3>
            <ul class="probootstrap-footer-social">
              {% include social_icons.html %}
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>Popular Products</h3>
            <ul class="probootstrap-product-list">
              <li class="mb20">
                <a href="#">
                  <figure><img src="/img/img_3.jpg" alt="" class="img-responsive"></figure>
                  <div class="text">
                    <h4>River named Duden flows</h4>
                    <p>A small river named Duden flows by their place</p>
                    <p class="secondary-color rate"><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-half"></i></p>
                  </div>
                </a>
              </li>
              <li class="mb20">
                <a href="#">
                  <figure><img src="/img/img_4.jpg" alt="" class="img-responsive"></figure>
                  <div class="text">
                    <h4>River named Duden flows</h4>
                    <p>A small river named Duden flows by their place</p>
                    <p class="secondary-color rate"><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-half"></i></p>
                  </div>
                </a>
              </li>
              <li class="mb20">
                <a href="#">
                  <figure><img src="/img/img_5.jpg" alt="" class="img-responsive"></figure>
                  <div class="text">
                    <h4>River named Duden flows</h4>
                    <p>A small river named Duden flows by their place</p>
                    <p class="secondary-color rate"><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-half"></i></p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>Recent Post</h3>
            <ul class="probootstrap-blog-list">
              <li>
                <a href="#">
                  <figure><img src="/img/img_1.jpg" alt="" class="img-responsive"></figure>
                  <div class="text">
                    <h4>River named Duden flows</h4>
                    <p>A small river named Duden flows by their place</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <figure><img src="/img/img_2.jpg" alt="" class="img-responsive"></figure>
                  <div class="text">
                    <h4>River named Duden flows</h4>
                    <p>A small river named Duden flows by their place</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <figure><img src="/img/img_3.jpg" alt="" class="img-responsive"></figure>
                  <div class="text">
                    <h4>River named Duden flows</h4>
                    <p>A small river named Duden flows by their place</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>{% endcomment %}
      <div class="row mt40">
        <div class="col-md-12 text-center">
          <ul class="probootstrap-footer-social">
              {% include social_icons.html %}
          </ul>
        </div>
        <div class="col-md-12 text-center">
          <p>
            <small>&copy; 2018 <a href="https://tallgrassmedia.com/" target="_blank">Tallgrass Media</a>. All Rights Reserved.<br>
            <a href="#" class="js-backtotop">Back to top</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: footer -->

  <script src="{{ site.baseurl }}/assets/js/scripts.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/main.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
  {% if page.layout == 'book' %}
  <script src="{{ site.baseurl }}/assets/js/vendor/swiper.js"></script>
  
  <!-- Initialize Swiper -->
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 0,
      centeredSlides: true,
      autoplay: {
        delay: 4000,
        disableOnInteraction: true,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>
  {% endif %}